/*
 * @NOTE: Prepend a '~' to css file paths that are in node_modules (https://github.com/webpack-contrib/sass-loader#imports).
 */

body
{
	height: 100vh;
	position: relative;
	margin: 0;
	overflow: hidden;
}
